<!DOCTYPE html>
<html>
<style type="text/css">
</style>

<head>
	<title>Login</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/box.css')}}">
</head>

<body>
<div>
	<img src="{{ url_for('static', filename='resources/logo.png') }}">
    <h1>ResumeReviser</h1>
</div>
	

<form class="box" method="post">
	<h2 id="boxtext" style="padding-top:50px;">LOGIN</h2>
	<input type="text" name="email" placeholder="EMAIL"><br>
	<input type="password" name="passw" placeholder="PASSWORD"><br>
	<input type="submit" value="Login"><br>
	<p id="boxtext">Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
</form>

</body>
</html>