<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Resume</title>
</head>
<body>
    <h1>Hi User, Upload A Resume</h1>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="pdf_file" accept=".pdf" required>
        <!--<button type="submit">Upload PDF</button>-->
        
        <!-- Include the job listing form fields here -->
        <form action="{{ url_for('process_form') }}" method="post">
            <h4>Enter a job listing below</h4>
            <label for="job_listing">Job Listing:</label>
            <textarea id="job_listing" name="job_listing" rows="10" cols="50"></textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
    </form>

    {% if pdf_path %}
        <iframe src="{{ url_for('uploaded_file', filename=filename) }}" width="800" height="600" style="border: none;"></iframe>
    {% endif %}

    <!-- <h4>Select career types you are interested in.</h4>
    <form action="#" method="post">
        <input type="Checkbox" name="career_type" value="Computer Science">Computer Science
        <input type="Checkbox" name="career_type" value="Education">Marketing
        <input type="Checkbox" name="career_type" value="Medicine">Medicine
        <input type="Checkbox" name="career_type" value="Teaching">Teaching
        <input type="Checkbox" name="career_type" value="Social Work">Social Work
    </form> -->

    <div id="matchModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Match Percentage</h2>
            <p id="matchPercentage"></p>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var modal = document.getElementById('matchModal');
            var span = document.getElementsByClassName("close")[0];
            var matchPercentage = document.getElementById('matchPercentage');
    
            // Check if the modal should be displayed based on the presence of matPercent
            {% if matPercent is defined %}
                modal.style.display = "block";
                matchPercentage.innerHTML = "Resume is a {{ matPercent }}% match with the job listing!";
            {% endif %}
    
            span.onclick = function() {
                modal.style.display = "none";
            }
    
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        });
    </script>
</body>
</html>