@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata");
@import url("typewriter.css");

:root {
    --palette-black: rgba(2,0,36,1);
    --palette-darkblue: rgba(5,4,76,1);
    --palette-navy: rgba(9,9,121,1);
    --palette-light: rgba(3,213,255,1);
    --palette-white: rgb(255, 255, 255);
}

html,
body {
    height: 100%;
}

.content {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px; 
}

body {
    /* global 94%+ browsers support */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, 
    var(--palette-black) 0%, 
    var(--palette-darkblue) 9%, 
    var(--palette-navy) 29%, 
    var(--palette-light) 100%);
    background-size: 100% 200%;
    /* animation: gradient 8s ease infinite; */
    color:#fff;
}

.navbar {
  z-index: 100px;
  overflow: hidden;
  position: fixed;
  top:0;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.slide-right {
    animation: 1s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  } to {
    margin-left: 0%;
  }
}

#front-text {
  font-family: 'Courier New', Courier, monospace;
  color:  white;
  margin-top: 10px;
  max-width: 500px;
  max-height: 500px;
  font-style:italic;
}

#nav-text {
  font-family: 'Crimson Pro';
  font-size: 19px;
}